{% extends "moonsheep/page.html" %}
{% load static %}
{% load moonsheep %}

{% block header %}
<div class="col-md-6">
    <h1>First Campaign</h1>

    <ul>
        {% stats_documents_verified as docs %}
        <li>{{ docs.total_progress|floatformat:2 }}% total progress</li>
        <li>{{ docs.verified }} / {{ docs.total }} [{{ docs.verified_percent }}%] documents verified</li>
        <!-- TODO #22 <li>Time elapsed 27 hours</li> -->
        <!-- TODO manual verification #5 <li>2 / 8 documents waiting verification</li> -->
        {% stats_users as users %}
        <li>{{ users.registered }} users registered</li>
        <li>{{ users.participated }} users participated</li>
        <li>{{ users.entries_total}} entries sent</li>
    </ul>
</div>
<div class="col-md-2">
    <button class="btn btn-small btn-purple">Active <img src="{% static 'images/admin_active.svg' %}"
                                                         alt="Active Icon"></button>
</div>
<div class="col-md-4 relbox">

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-block btn-transparent" type="button">Pause</button>
        </div>
        <div class="col-md-6">
            <div class="dropdown">
                <button class="btn btn-purple btn-block  dropdown-toggle" type="button" id="export-main"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Export <img
                        src="{% static 'images/admin_dropdown.svg' %}" alt="chevron down, opens a dropdown menu">
                </button>
                <ul class="dropdown-menu" aria-labelledby="export-main">
                    <li><a href="#">Download XLSX</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Download CSV</a></li>
                    <li role="separator" class="divider"></li>
                    <!--<li><a href="#">Download JSON</a></li>-->
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Export via API</a></li>
                </ul>
            </div>
            <p class="small-text">Download all data from this campaign.</p>
        </div>
    </div>
    <div class="bottom-box">
        <span>Number of same inputs verify: <input type="text" class="badge" value="2"> </span>
    </div>
</div>
{% endblock %}


{% block content %}
<section id="campaign" class="row">
    <div class="col-md-12" id="dirty-tasks">
        <table class="table">
            <thead>
            <tr>
                <th>Dirty tasks</th>
                <!-- TODO confidence? sort by it as well to get easier ones quickly off -->
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for t in dirty_tasks %}
            <tr>
                <td>{{ t }}</td>
                <td>
                    <a href="{% url 'ms-manual-verification' t.id %}"><button class="verify">Verify</button></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-12" id="recent-verified-documents">
        <table class="table">
            <thead>
            <tr>
                <th>Document</th>
                <th>Liberation Progress</th>
                <th>Verified Fields</th>
            </tr>
            </thead>
            <tbody>
            <!--
            <tr>
                <td>Plane Ticket</td>
                <td>
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar" data-width="82"></div>
                        <div class="progress-number"></div>
                    </div>
                </td>
                <td>
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar" data-width="19"></div>
                        <div class="progress-number"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Restaurant</td>
                <td>
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar" data-width="65"></div>
                        <div class="progress-number"></div>
                    </div>
                </td>
                <td>
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar" data-width="42"></div>
                        <div class="progress-number"></div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>5 Star Hotel Resort in Jamaica</td>
                <td>
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar" data-width="89"></div>
                        <div class="progress-number"></div>
                    </div>
                </td>
                <td>
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar" data-width="98"></div>
                        <div class="progress-number"></div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>Big Mercedes</td>
                <td>
                    <button class="verify">Verify</button>
                </td>
                <td>
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar" data-width="0"></div>
                        <div class="progress-number"></div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>Some weird hardware store receipt</td>
                <td>
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar" data-width="49"></div>
                        <div class="progress-number"></div>
                    </div>
                </td>
                <td>
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar" data-width="94"></div>
                        <div class="progress-number"></div>
                    </div>
                </td>
            </tr>
            -->
            </tbody>
        </table>
    </div>


    <div class="col-md-12" id="volunteers">
        <table class="table">
            <thead>
            <tr>
                <th>Volunteer</th>
                <th>Liberation Progress</th>
                <!-- TODO #22 <th>Time Liberating</th> -->
            </tr>
            </thead>
            <tbody>
            <!-- TODO
            <tr>
                <td>John McLane</td>
                <td>
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar" data-width="82"></div>
                        <div class="progress-number"></div>
                    </div>
                </td>
                <td>36 min</td>
            </tr>
            <tr>
                <td>Marcellus Wallace</td>
                <td>
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar" data-width="38"></div>
                        <div class="progress-number"></div>
                    </div>
                </td>
                <td>95 min</td>
            </tr>

            <tr>
                <td>Vincent Vega</td>
                <td>
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar" data-width="19"></div>
                        <div class="progress-number"></div>
                    </div>
                </td>
                <td>21 min</td>
            </tr>

            <tr>
                <td>Mia Wallace</td>
                <td>
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar" data-width="61"></div>
                        <div class="progress-number"></div>
                    </div>
                </td>
                <td>63 min</td>
            </tr>

            <tr>
                <td>Selina Kyle</td>
                <td>
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar" data-width="52"></div>
                        <div class="progress-number"></div>
                    </div>
                </td>
                <td>48 min</td>
            </tr>
            -->
            </tbody>
        </table>
    </div>
</section>
{% endblock %}