body {
  background: #efefef;
}

#ms-content {
  background: #ffffff;
  min-height: 100%;
  height: 100%;
  padding: 30px;

  .row:first-child {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dedede;
  }
}

#ms-logo {
  max-width: 250px;
}

#ms-message-status {
  padding: 50px 0;
}

.ms-messages {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    margin-top: 10px;

    li {
        list-style-type: none;
        padding: 10px;
        border-radius: 5px;
    }

    li a {
        color: white;
        text-decoration: underline;
    }

    li.success {
        color: white;
        background-color: #3fb53f;
    }

    li.error {
        color: white;
        background-color: #d24141;
    }
}

// Manual verification below
.ms-values-tooltip {
//   visibility: hidden;

  background-color: black;
  color: #fff;

  padding: 5px;
  border-radius: 6px;
  text-align: center;

  z-index: 10;
  min-width: 100px;

  .ms-option {
    cursor: pointer;
    padding: 5px 0px;
  }
}

// .ms-fuzzy-input:hover .ms-values-tooltip {
//   visibility: visible;
// }
//
// .ms-values-tooltip::after {
//     content: "";
//     position: absolute;
//     bottom: 100%;
//     left: 50%;
//     margin-left: -5px;
//     border-width: 5px;
//     border-style: solid;
//     border-color: transparent transparent black transparent;
// }