This error was caused because tasks broker returned no tasks. You can either configure <code>PyBossa</code>
<strong>or</strong> prepare your own sample tasks and provide them in <code>random broker</code>.

<ol>
  <li>
    Implement your tasks
  </li>
  <li>
    <a href="{% url "ms-new-task" %}">Add tasks to PyBossa</a>
  </li>
  <strong>or</strong>
  <li>
    Provide random tasks
  </li>
  <ol>
    <li>
      Provide your tasks to moonsheep random tasks (? dunno)
    </li>
    <li>
      in settings.py:
    </li>
    <pre><code>
      MOONSHEEP_TASK_SOURCE = 'random'
    </code></pre>
  </ol>
</ol>
