<p>This error was caused because tasks chooser returned no tasks.</p>

<p>Steps you should take:</p>
<ol>
    <li> Implement your tasks deriving from moonsheep.tasks.AbstractTask</li>
    <li> Provide tasks
        <ol>
            <li>For development of forms you might want to enable rotating through available task types by setting
                <code>MOONSHEEP['DEV_ROTATE_TASKS'] = True</code>
            </li>
            <li><a href="{% url "documents" %}">In production you want to import tasks to the system</a>
                and also come up with a better error template for your users than this (TODO how to do it <!-- TODO configurable error_template or error handling --> )
            </li>
        </ol>
    </li>
</ol>
