{% extends "moonsheep_base.html" %}

{% load static %}

{% block content %}
<div class="container" id="ms-content">
  <div class="row justify-content-around">
    <div class="col-3">
      <a href="{% url "ms-admin" %}">
        <img class=img-fluid" id="ms-logo" src="{% static "images/moonsheep-logo-transparent.png" %}" alt="moonsheep-logo" />
      </a>
    </div>
    <div class="col-6">
      <h2 id="ms-message-status">Admin</h2>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-8">
      <h3>Actions:</h3>
      <ul>
        <li>
          <a href="{% url "ms-new-task" %}">New document</a>
        </li>
        <li>
          <a href="{% url "ms-tasks" %}">Stats</a>
        </li>
        <li>
          <a href="{% url "ms-manual-verification" %}">Manual verification <small>(3)</small></a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
