{% extends "moonsheep_base.html" %}

{% load static %}

{% block content %}
<div class="container" id="ms-content">
  <div class="row justify-content-around">
    <div class="col-3">
      <a href="{% url "ms-admin" %}">
        <img class=img-fluid" id="ms-logo" src="{% static "images/moonsheep-logo-transparent.png" %}" alt="moonsheep-logo" />
      </a>
    </div>
    <div class="col-6">
      <h2 id="ms-message-status">Manual verification</h2>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-8">
      <h4 class="mt-5">"Dirty" tasks</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <th>task</th>
            <th>document URL</th>
            <th>confidence</th>
          </thead>
          <tbody>
            <tr>
              <td><a href="#">task 1</a></td>
              <td><a href="#">http://...</a></td>
              <td>33%</td>
            </tr>
            <tr>
              <td><a href="#">task 2</a></td>
              <td><a href="#">http://...</a></td>
              <td>20%</td>
            </tr>
            <tr>
              <td><a href="#">task 3</a></td>
              <td><a href="#">http://...</a></td>
              <td>49%</td>
            </tr>
            <tr>
              <td><a href="#">task 4</a></td>
              <td><a href="#">http://...</a></td>
              <td>0%</td>
            </tr>
          </tbody>
        </table>
        <h4>Manually verified tasks</h4>
        <table class="table table-striped">
          <thead>
            <th>task</th>
            <th>document URL</th>
            <th>confidence</th>
          </thead>
          <tbody>
            <tr>
              <td><a href="#">task 5</a></td>
              <td><a href="#">http://...</a></td>
              <td>33%</td>
            </tr>
            <tr>
              <td><a href="#">task 6</a></td>
              <td><a href="#">http://...</a></td>
              <td>20%</td>
            </tr>
            <tr>
              <td><a href="#">task 7</a></td>
              <td><a href="#">http://...</a></td>
              <td>49%</td>
            </tr>
            <tr>
              <td><a href="#">task 8</a></td>
              <td><a href="#">http://...</a></td>
              <td>0%</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}