{% extends "../moonsheep_base.html" %}

{% load static %}

{% block content %}
<div class="container" id="ms-content">
  <div class="row justify-content-around">
    <div class="col-3">
      <a href="{% url "ms-admin" %}">
        <img class=img-fluid" id="ms-logo" src="{% static "imgs/moonsheep-logo-transparent.png" %}" alt="moonsheep-logo" />
      </a>
    </div>
    <div class="col-6">
      <h2 id="ms-message-status">{% if error %}Ooooops... something's wrong!{% else %}It works!{% endif %}</h2>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-8">
      <h3>{{ message }}</h3>
      {% include template %}
    </div>
  </div>
</div>
{% endblock %}